.header {
  display: flex;
  padding: 15px 16px 14px 24px;
  justify-content: space-between;
  align-items: center;
}

.logo-header-link {
  display: flex;
  padding: 10px;
}

.btn-wrap {
  display: flex;
  gap: 16px;
}

.login-btn {
  padding: 20px 46px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);

  font-family: 'GraphikMedium';
  font-size: 17px;
  line-height: 1.47;
  letter-spacing: 0.2px;
}

.login-btn:hover,
.login-btn:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.burger-btn {
  background-color: transparent;
  border: none;
  fill: rgba(255, 255, 255);
}

.burger-btn:hover,
.burger-btn:focus {
  outline: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
