.header {
  display: flex;
  padding: 15px 16px 14px 24px;
  justify-content: space-between;
  align-items: center;
}

.logo-header-link {
  display: flex;
  padding: 10px;
}

.btn-wrap {
  display: flex;
  gap: 16px;
}
