.partners {
  padding: 50px 75px;
  gap: 50px;
}

.partners .section-text-wrap {
  width: 349px;
}

.partners .section-title {
  padding: 10px;
}

.partners-logo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  display: block;
}

.partners .main-btn {
  padding: 12px 40px;
}
